@media screen and (max-width: 767px){
    .container{
       width: 768px;
    }
    .mobButton{
         margin-left: 25px;
    }
    .logo{
        margin-left: 250px;
    }
    .callback{
        margin-left: 150px;
    }
     .main{
        width: 768px;
        
    }
     .main__cards{
        width: 768px;
       
    }
    .card{
        width: 728px;
        height: 728px;
    }
    
}